/*************************************************/
/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");
/*************************************************/
/* Font definitions */

body,
figure figcaption,
aside.sidebar p.sidebar-title {
  font-family: "Source Sans 3", "Segoe UI", Helvetica, Arial, sans-serif;
}

em {
  font-style: italic;
  font-family: "Source Sans 3", "Segoe UI", Helvetica, Arial, sans-serif;
}

#bd-docs-nav {
  font-family: "Source Sans 3", "Segoe UI", Helvetica, Arial, sans-serif;
}

blockquote {
  font-style: italic;
  font-family: "Source Sans 3", "Segoe UI", Helvetica, Arial, sans-serif;
}

.bd-article-container h1, 
.bd-article-container h2, 
.bd-article-container h3, 
.bd-article-container h4, 
.bd-article-container h5, 
.bd-article-container h6,
.navbar-brand .logo__title
{
  font-weight: bold;
  font-family: "Source Sans 3", "Segoe UI", Helvetica, Arial, sans-serif;
}

.bd-article-container h1 {font-size: calc(0.7*var(--pst-font-size-h1));} 
.bd-article-container h2 {font-size: calc(0.7*var(--pst-font-size-h2));} 
.bd-article-container h3 {font-size: calc(0.7*var(--pst-font-size-h3));} 
.bd-article-container h4 {font-size: calc(0.7*var(--pst-font-size-h4));} 
.bd-article-container h5 {font-size: calc(0.7*var(--pst-font-size-h5));} 
.bd-article-container h6 {font-size: calc(0.7*var(--pst-font-size-h6));}

html[data-theme="light"] .bd-article-container h1, 
html[data-theme="light"] .bd-article-container h2, 
html[data-theme="light"] .bd-article-container h3, 
html[data-theme="light"] .bd-article-container h4, 
html[data-theme="light"] .bd-article-container h5, 
html[data-theme="light"] .bd-article-container h6,
html[data-theme="light"] .navbar-brand .logo__title
{
	color: black;
}

.navbar-brand .logo__title {
	font-size: 1.5rem;
}

/*************************************************/
/* Layout */

/* Hide certain elements */
.search-button__kbd-shortcut {
	visibility: hidden;
}

/* .theme-switch-button {
	display: none;
} */

#rtd-footer-container {
	display: none;
}


span.marginnote, span.sidenote {
  margin-bottom: 1em;
}

#main-content p {
  hyphens: auto;
  text-align: justify;
}

#main-content .disable-hyphens p {
  hyphens: none;
  text-align: left;
}

@media (min-width: 992px) {
	#main-content {
		max-width: 60%;
	}
}

@media (min-width: 1200px) {
  /* h1 {
    width: 130%;
  } */
  
	#main-content {
    max-width: 65%;
  }
	/* .bd-main .bd-content .bd-article-container {

	} */

	figure.margin,
  .margin.sidebar, 
	span.marginnote, 
	span.sidenote {
    width: 46%;
    margin-right: -57%;
  }

	/* Make figure padding match marginnotes */
	figure.margin {
		padding: 0;
	}

	figure.margin figcaption {
		padding-left: 0;
		padding-right: 0;
	}
  
  span.sidenote sup {
    padding-right: .5em;
  }

}

/*************************************************/
/* Theorem style */

/* Fixing icon display problem */
.admonition > .admonition-title::after, 
div.admonition > .admonition-title::after {
	display: none;
}

.proof.admonition:not(.algorithm) .admonition-title {
	float: left;
	background: none;
	padding-right: 1.5em;
	padding-bottom: 0;
}

.proof.admonition:not(.algorithm) section >p:first-child {
	padding-top: 0.4rem;
}

/* To ensure that margin notes are shown */
.proof.admonition {
	overflow: visible;
}

/*************************************************/
/* Article style */

.post-date {
	display: block;
	margin-top: -.5rem;
	margin-bottom: 1rem;
	color: #9a9a9a;
}

/*************************************************/
/* a blog */

.ablog-post-title {
	font-size: 1.5rem;
}

.ablog-post-expand {
	display: none;
}

ul.postlist, ul.ablog-archive {
  padding-left: 0;
}

ul.postlist > li > p:first-child {
  font-size: 1.3em;
  margin-top: 1em;
}
